config global 'global'

config instance 'primary'
	option enabled '0'
	option dl_if 'ifb4wan'
	option ul_if 'wan'
	option min_dl_shaper_rate_kbps '5000'
	option base_dl_shaper_rate_kbps '20000'
	option max_dl_shaper_rate_kbps '80000'
	option min_ul_shaper_rate_kbps '5000'
	option base_ul_shaper_rate_kbps '20000'
	option max_ul_shaper_rate_kbps '35000'

config mqtt 'mqtt'
	option enabled '0'
	option port '1883'
